#github {
    display: inline-block;
    float: right;
    
    margin-right: 15%;

    background-repeat: no-repeat;
    background-position: center;
    background-image: url('image/logo/github/svg.svg');
    background-size: 90% 90%;

    height: 3em;
    width: 3em;

    border: 5px solid;
    border-radius: 1.75em;
}

#github:hover {
    border-style: dotted;
    border-color: darkorange;

    background-color: #D9E0D9;
}
